* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  padding: 20px;
}

.main-content {
  display: flex;
  gap: 20px;
}

/* Phone */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .main-content {
    flex-direction: column;
  }

  .course-card,
  .modules {
    width: 100%;
  }
}

body {
  background: #f4f4f4;
}


.topbar {
  height: 70px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.topbar-button {
  background-color: #fbfbfb;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.topbar-button:hover {
  background-color: #d5d5d5;
}


.container {
  display: flex;
  gap: 24px;
  padding: 24px;
  align-items: flex-start;
}


.sidebar {
  width: 200px;
  flex-shrink: 0;
}

.sidebar-box {
  background: #ffffff;
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}

.sidebar-box:hover {
  background-color: #eeeeee;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.banner {
  width: 100%;
  height: 180px;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/001/797/938/large/typing-on-apple-keyboard-on-desk-side-perspective-shot-4k-free-video.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.banner-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 30px;
  gap: 20px;
  color: white;
}

.logo {
  width: 70px;
}

.text h1 {
  font-size: 24px;
  font-weight: 700;
}

.text p {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.9;
}

.btn {
  margin-left: auto;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #ffffff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.card-box {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  padding: 20px;
  border-radius: 14px;
  line-height: 1.6;
}

.card-box h4 {
  margin-bottom: 10px;
}

.detail-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 140px;
  height: 45px;

  background: #cdcdcd;
  color: rgb(63, 63, 63);
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  transition: 0.3s ease;
}

.detail-btn:hover {
  background: #c0bfbf;
  transform: scale(1.05);
}

.container {
  display: flex;
  gap: 24px;
  padding: 24px;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  flex-shrink: 0;
}

/* CONTENT */
.content {
  flex: 1;
}
body {
  background-color: #4c27ab;
}