html {
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  padding: 5px 40px;
}

button {
  all: unset;
  cursor: pointer;
}

.topbar {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.icon-button {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar-button {
  font-weight: 500;
  font-size: 14px;
  background: rgba(0, 0, 0, 0);
  padding: 12px 16px;
  border-radius: 8px;
  transition: background 0.2s ease-in-out;
}

.topbar-button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.courses-enrolled-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 16px;
}

.courses-enrolled-titlebar h2 {
  font-weight: 350;
  font-size: 32px;
}

.primary-btn {
  color: white;
  font-size: 12px;
  font-weight: 400;
  background-color: #171717;
  padding: 10px 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 4px;
  transition: background-color 0.2s ease-in-out;
}

.primary-btn:hover {
  background-color: #2c2c2c;
}
