/* ---------- Page Layout ---------- */
body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  padding: 5px 40px;
}

.topbar {
  width: 100%;
  padding: 15px 0;
}

/* ---------- Course Cards ---------- */
.courses-enrolled-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-bottom: 40px;
}

.course-card {
  width: 25vw;
}

.course-card-header {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 48px;
}

.course-card-header img {
  height: 32px;
  border-radius: 4px;
}

.course-card-header-text {
  margin-left: 12px;
}

.course-card-header-text h4 {
  margin-bottom: 4px;
}

.course-card-progress-text {
  margin-left: auto;
  margin-bottom: 4px;
}

.course-card-text {
  margin-top: 12px;
}

.course-card-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}
