/* ---------- Page Layout ---------- */
body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  padding: 5px 40px;
}

.topbar {
  width: 100%;
  padding: 15px 0;
}

/* ---------- Course Cards ---------- */
.courses-enrolled-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-bottom: 40px;
}

.course-card {
  width: 25vw;
  min-width: 280px;
}

.course-card-header {
  display: flex;
  justify-content: left;
  align-items: center;
}

.course-card-header img {
  height: 32px;
  border-radius: 4px;
}

.course-card-header-text {
  margin-left: 12px;
}

.course-card-header-text h4 {
  margin-bottom: 4px;
}

.course-card-progress-text {
  margin-left: auto;
  margin-bottom: 4px;
}

.course-card-text {
  margin-top: 12px;
}

.course-card-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.badges-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 40px;
  align-items: center;
  justify-content: center;
}

.badge-card {
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.badge-card img {
  width: 240px;
  height: 240px;
  object-fit: contain;
}

.badge-title {
  margin-top: -12px;
  font-weight: 600;
}

.badge-text {
  margin-top: 6px;
  font-size: 13px;
}

.certificate-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.certificate-header img {
  height: 64px;
  object-fit: contain;
}
